.cart-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("landingpage-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(150%);
  width: 750px;
}

.cart-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(71, 206, 89, 0.5);
  mix-blend-mode: multiply;
  pointer-events: none;
}

.cart-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  z-index: 2;
}

.page-cart header {
  filter: grayscale(100%);
}

.orderbtn {
  background-color: black;
  color: white;
  border-radius: 10%;
}
