.status-container {
  background: rgba(229, 103, 78, 1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.order-info {
  text-align: center;
  margin-bottom: 20px;
}

.loading-icon {
  width: 100px;
  margin-top: -20px;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.bold {
  font-weight: bold;
}
